<a href="https://colab.research.google.com/github/NPranaya7/Data_690_Pranaya/blob/main/Assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment_03
- Date:15/02/2022
- MT50255
- Narava Pranay manikanta

In [31]:
import random

## 1. Random numbers in 10 by 10 matrix

In [32]:
for i in range(10):
    for j in range(10):
        print(random.randint(0,9),end=" ")
    print()

4 9 5 5 9 2 0 0 6 1
8 1 5 6 0 9 0 3 5 1
3 4 7 6 8 5 8 5 5 0
4 4 1 5 7 0 7 6 5 8
4 7 3 7 2 0 2 6 5 3
2 8 8 2 7 2 4 3 8 4
6 8 1 2 7 1 8 3 4 5
8 8 5 1 2 7 0 8 7 9
7 5 8 6 8 0 1 6 6 3
7 0 4 1 5 9 0 2 9 0

## 2. Random numbers in 10 by 10 matrix but odd number are replaced with " @ "

In [33]:
for i in range(10):
    for j in range(10):
        a = random.randint(0,9)
        odd=a
        if a in [1,3,5,7,9]:
          print("@",end=" ")
        else:
          print(a,end=" ")
    print()

@ @ 2 4 @ @ @ @ @ 4
@ 2 8 2 @ 0 0 8 @ @
@ @ 2 4 @ @ @ 8 @ @
8 @ 2 4 2 @ 6 @ 0 6
@ @ @ 6 8 2 @ 2 0 6
@ @ 0 @ 4 0 2 @ @ @
@ 8 2 @ @ @ @ 6 @ 4
@ 6 6 @ 4 @ @ @ @ @
6 6 4 4 2 @ @ @ 4 0
@ 2 @ 8 @ 4 0 @ @ 4

## 3.Random numbers in 10 by 10 matrix along with Calculated row value, separated by " * "

In [34]:
sum = 0
for i in range(10):
    for j in range(10):
        l = random.randint(0,9)
        sum = sum + l
        print(l,end=" ")
    print("*", sum )
    sum = 0

1 3 9 1 4 2 5 7 4 4 * 40
8 1 7 2 0 7 1 7 3 1 * 37
1 2 5 3 5 0 0 4 7 4 * 31
6 0 6 1 4 8 7 3 9 5 * 49
4 4 4 7 7 8 7 5 8 2 * 56
0 4 6 9 9 8 8 7 1 6 * 58
7 0 9 1 4 4 5 5 1 9 * 45
1 6 3 7 5 3 4 6 7 1 * 43
0 3 9 3 2 3 3 2 4 0 * 29
0 0 8 0 4 0 8 0 4 2 * 26

## 4.Surround the matrix with asterisks (*)

In [35]:
print("***********************")
for i in range(10):
    print("*",end=" ")
    for j in range(10):
        print(random.randint(0,9),end=" ")
    print("*")
print("***********************")

***********************
* 7 9 4 7 8 6 0 0 3 9 *
* 8 8 5 7 9 9 6 1 9 5 *
* 1 9 9 1 4 9 8 7 8 7 *
* 0 0 5 8 1 3 2 9 4 7 *
* 9 0 4 8 2 3 7 4 8 1 *
* 1 7 5 5 4 8 6 8 1 9 *
* 9 3 0 3 1 7 1 7 9 1 *
* 6 3 5 7 0 2 1 8 9 3 *
* 0 7 3 5 0 3 9 8 7 8 *
* 2 5 5 9 5 9 6 8 4 8 *
***********************

## 5.Calculate and Print the total of each row and column

In [36]:
sum = 0
a=[]
for i in range(10):
    for j in range(10):
        l = random.randint(0,9)
        a.append(l)
        sum = sum + l
        print(l,end="  ")
    print("*", sum )
    sum = 0
print("*  *  *  *  *  *  *  *  *  *")
#print(a)

csum=0
for i in range (10):
    csum=a[i]+a[i+10]+a[i+20]+a[i+30]+a[i+40]+a[i+50]+a[i+60]+a[i+70]+a[i+80]+a[i+90]
    print(csum,end=" ")

4  3  4  1  8  5  3  8  7  7  * 50
9  5  4  8  3  1  8  1  7  3  * 49
0  6  0  1  9  3  2  5  4  8  * 38
5  8  3  7  5  4  7  0  3  3  * 45
6  4  3  1  8  7  0  6  7  9  * 51
0  2  8  8  7  7  2  4  4  5  * 47
1  6  4  5  3  2  4  9  0  1  * 35
1  3  7  5  7  5  1  2  8  4  * 43
7  7  4  6  4  7  0  1  3  5  * 44
0  4  2  0  7  9  6  7  1  2  * 38
*  *  *  *  *  *  *  *  *  *
33 48 39 42 61 50 33 43 44 47