<a href="https://colab.research.google.com/github/NPranaya7/Data_690_Pranaya/blob/main/Assignment_02/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assigment_02
- Narava Pranay manikanta
- MT50255

## 1. Data entry

In [79]:
a=[]
for i in range(0,30):
  x=input()
  try:
    y=int(x)
  except:
    print("**Only integers Allowed**")
    continue
  a.append(y)
  l = len(a)
  if l<10:
    continue
  else:
    break

07
25
12
47
pranay
**Only integers Allowed**
tt
**Only integers Allowed**
56
78
23
45
7
1

# 2.Data Display

In [80]:
print(" lenght of the string is")
print(l)
print(a)

 lenght of the string is
10
[7, 25, 12, 47, 56, 78, 23, 45, 7, 1]

# 3. Maximum element in the List

In [81]:
max = 0
for i in range (0,10):
  if a[i] > max:
    max = a[i]
  else:
    continue
print(max)

78

# 4.Minimum Element in the List

In [82]:
min = a[1]
for i in range (0 , 10):
  if a[i] < min:
    min = a[i]
  else:
    continue

print(min)

1

# 5. Range

In [83]:
Range = max-min
print(Range)

77

# 6.Mean

In [84]:
m = 0
for i in range (0 , 10):
  m = m + a[i]
mean = m / l

print(mean)

30.1

# 7.Variance

In [85]:
sum = 0
for i in range (0 , 10):
  s = a[i] - mean
  sd = s * s
  sum = sum + sd
var = sum / l 
print(var)

579.0899999999999

# 8.Standard Deviation

In [86]:
stnd = var**(1/2)
print(stnd)

24.064288894542468